<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>https://api.rawg.io/api/</string>
	<key>API_KEY</key>
	<string>9dcf90cb8a5345c38a4af3771fa6c29b</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Rawg</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.656297918676-i2dipp1alp6bkm1d0bknrvr30stf7bu1</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Rawg Twitter</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https://rawggamers.firebaseapp.com/__/auth/handler</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GIDClientID</key>
	<string>656297918676-i2dipp1alp6bkm1d0bknrvr30stf7bu1.apps.googleusercontent.com</string>
	<key>GoogleUtilitiesAppDelegateProxyEnabled</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Orbitron.ttf</string>
		<string>Orbitron-Black.ttf</string>
		<string>Orbitron-Bold.ttf</string>
		<string>Orbitron-ExtraBold.ttf</string>
		<string>Orbitron-Medium.ttf</string>
		<string>Orbitron-SemiBold.ttf</string>
		<string>Orbitron-Regular.ttf</string>
		<string>Poppins-Medium</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict>
			<key>New item</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
