<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Rawg</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.656297918676-arba26vgvpe0enpesl93ed8dlio33rl8</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GIDClientID</key>
	<string>656297918676-arba26vgvpe0enpesl93ed8dlio33rl8.apps.googleusercontent.com</string>
	<key>GoogleUtilitiesAppDelegateProxyEnabled</key>
	<false/>
</dict>
</plist>
